.bodyNPC{
    background: #383838;
}

.titlesDiv2 {
    display: flex; /* Alinha os elementos horizontalmente */
    align-items: center; /* Alinha os elementos verticalmente ao centro */
    justify-content: center; /* Mantém o botão de filtro na extrema direita */
    padding: 0 60px; /* Remove o espaçamento superior e inferior */
    margin-top: 50px;
}

.pnpc{
    font-family: 'ZeldaFont';
    color: #D9C554;
    font-size: 56px;
    margin: 0; /* Remove margens padrão */
    padding: 9px;
}

.horizontalLine {
    width: 90%;
    height: 2px;
    background-color: rgb(148, 148, 148);
    margin: 0 auto 30px; /* Remove qualquer espaço acima ou abaixo da linha */
}

.cardContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 40px;
}

.cardNpc{
    width: 325px;
    height: 380px;
    background-color: #2b2b2b;
    border-radius: 10px;
    box-shadow: #282828;
    overflow: hidden;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.cardNpc:hover{
    transform: translateY(-20px);
}

.cardNpc img {
    width: 100%;
    height: 210px; /* Altura fixa para as imagens */
    object-fit: cover; /* Faz com que a imagem preencha completamente o espaço, cortando o excedente */
    object-position: top center; /* Ajuste padrão: centraliza horizontal e verticalmente */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.cardText2{
    padding: 20px;
}

.npcTitle{
    font-family: Arial, Helvetica, sans-serif;
    color: #02af92;
    font-size: 15px;
    margin-bottom: 10px

}


.desc{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        color: #bdbdbd;
        margin-bottom: 20px;
}

#characters {
    
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    justify-content: center;
  }
  
  .character-card {
    width: 325px;
    height: 200px;
    background-color: #2b2b2b;
    border-radius: 10px;
    box-shadow: #282828;
    overflow: hidden;
    transition: transform 0.3s ease;
    cursor: pointer;
    padding: 10px;
  }

  .pOutros{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 15px;
        color: #bdbdbd;
        margin-bottom: 20px;
  }

  .npcName{
    
    font-family: Arial, Helvetica, sans-serif;
    color: #02af92;
    font-size: 15px;
    margin-bottom: 10px
    
  }

  .pGender{
    font-family: Arial, Helvetica, sans-serif;
    color: #02af92;
    font-size: 15px;
    margin-bottom: 10px
  }

  .pRace{
    font-family: Arial, Helvetica, sans-serif;
    color: #02af92;
    font-size: 15px;
    margin-bottom: 10px
  }